*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-font-color: white;
    --header-font-size: 5rem;
    --header-background-color: rgba(0,0,0,.60);  
    --text-button-background-color: #F0F0F0
}

body {
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-repeat: no-repeat;
    background-size: 30% 100vh;
}

.main-page {
    display: flex;
    justify-content: space-between;
}


/* Header Section */
.header-container {
    display: flex;
    flex-direction: column;
    color: var(--header-font-color);
    margin-top: 10%; 
    width: 30%;
    
}

img {
    width: 75px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--header-font-size);
    background-color: var(--header-background-color);
    padding: 0.1em;
    
   
}

.photo-creds {
    position: absolute;
    padding-bottom: 1em;
    left: 8%;
    bottom: 0;
}


/* Main Section */

.main-content {
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
    width: 70%;
    background-color: var(--text-button-background-color);
}

.main-text-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 35%;
    font-size: 1.5rem;
    margin-top: 10%;
}

.main-text-container > p {
    max-width: 62ch;

}