*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: Norse;
    src: url("../fonts/Norse-Bold.otf") format("opentype");
}

:root {
    --header-font-color: white;
    --header-font-size: 5rem;
    --header-background-color: rgba(0, 0, 0, .60);
    --text-button-background-color: #F0F0F0
}

body {
    width: 100%;
    height: 100%;
}


.main-page {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* Header Section */
header {
    color: white;
    grid-row: 1/-1;
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-repeat: no-repeat;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    align-content: space-between;


}

#logo img {
    height: 5rem;
    width: 5rem;
}

.logo-container {
    height: 100px;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Norse, 'Times New Roman', Times, serif;
    font-size: var(--header-font-size);
    background-color: var(--header-background-color);
}

.photo-creds {
    padding: 1em;
    text-align: center;
}

/* Main Section */
.main-content {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1.1fr 1.25fr 0.75fr;
    font-family: 'Calibri', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: var(--text-button-background-color);

}

.main-text-container {
    grid-row: 1;
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-left: 2em;
}

.form-container {
    grid-row: 2;
    background-color: white;
    box-shadow: 4px 4px 4px rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 2em;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

}

.form-col-1,
.form-col-2 {
    display: flex;
    flex-direction: column;

}

label {
    padding-top: 1em;
}

input {
    width: 21.875rem;
    padding: 0.5em;
}

/* Button section */
.button-container {
    padding-left: 2em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;

}

button {
    color: white;
    background-color: #596D48;
    width: 20%;
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .40);
}

input:invalid {
    border: 2px solid red;
}

input:focus {
    border: 2px solid #E5E7EB;
    box-shadow: 2px 4px 4px rgb(212, 212, 212);
}

label {
    text-transform: uppercase;
}

